[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0"
djangorestframework = "*"
drf-yasg = "*"
dj-rest-auth = "*"
django-allauth = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
